@charset "utf-8";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
main {
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textAnimation {
  color: #fff;
  font-size: 70px;
  letter-spacing: 0.07em;
}

.textAnimation:not(:first-of-type) {
  margin-top: 20px;
}

 @keyframes showTextFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

/* @keyframes showTextFromTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
  }
} */ 

.textAnimation span {
  display: inline-block;
}

.textAnimation > span {
    overflow: hidden;
}
.textAnimation > span >span {
    animation: showTextFromBottom 1s backwards;
}
/* 
.textAnimation span:nth-of-type(odd) {
  animation: showTextFromTop ease-out 3s backwards;
}
.textAnimation span:nth-of-type(even) {
  animation: showTextFromBottom ease-out 3s backwards;
} */
